$btn_primary: #f0f0f0;
$btn_secondary: #000000;
$text_white: #ffffff;
$text_black: #000000;
$text_grey: #c4c4c4;
$bg_grey: #e0e0e0;
$bg_white: #ffffff;
$bg_black: #000000;
$bg_grey: #c4c4c4;
$border_black: #000000;

$shadow_color: #0000000F;


//fonts
$Roboto-Regular: Roboto-Regular;
$Roboto-Bold: Roboto-Bold;
$Roboto-Italic: Roboto-Italic;
$Roboto-Medium: Roboto-Medium;
